<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- our css should be below all other styles so that we can override it -->
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <h1 id="page-heading">
            <i class="fas fa-address-book"></i>
            Contact List
        </h1>

        <div id="contact">
            <ul>
                <% for(let i of contact_list){ %>
                    <li>
                        <div class="details">
                            <p><%= i.name %></p>
                            <p><%= i.phone %></p>
                        </div>
                        <div class="delete-btn">
                            <a href="/delete-contact/?id=<%= i._id %>">
                                <i class="fas fa-window-close"></i>
                            </a>
                        </div>
                    </li>
                <% } %>
            </ul>

                
            <form id="add-contact" action="/create-contact" method="POST">
                <input type="text" name="name" placeholder="Enter Name" required>
                <input type="number" name="phone" placeholder="Enter Phone" required>

                <button type="submit">Add</button>
            </form>
        
        </div>

        <script type="text/javascript" src="/js/home.js"></script>
    </body>
</html>